# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Distribution / build artifacts
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Test / coverage caches
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type-checker caches
.mypy_cache/
.pytype/
.pyre/

# Editor/IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Local env files
.env
.envrc

# HotPixels
hotpixels.lrdevplugin/PluginPath.txt
profiles/
vendor/
